*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(245, 245, 245); /* This is a light shade of gray */
}

h1{
    text-align:center;
}


.add-task{
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction: column;
}

table tr:nth-of-type(even){
    background-color:rgb(228, 182, 182);
}