{% extends 'base.html' %}

{% block content %}

<div class="container">

    <img src="{{article.image.url}}" alt="">
    <h1 class="my-2">{{article.title}}</h1>
    <div class="container my-4">
        {{article.content}}
            <br>
            <small>date :{{article.date_created}}  <br>
                By {% if request.user.username  == article.author|lower %}
                <a href="{% url 'profile' article.author.id %}">me</a>  
                {% else %}
                {{ article.author }}
                {% endif %}
        </small>
    </div>
</div>

{% endblock content %}