{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock style %}

{% block content %}
    <h1 class="text-center my-5">Welcome to my blog</h1>
    <div class="container d-grid mt-5">
        <div class="row">
            {% for article in object_list %}
                <div class="col my-2">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" class="article-image" width="300px" height="200px">
                    {% else %}
                    <h4>No image</h4>
                    {% endif %}
                    <h3>{{ article.title |title }}</h3>
                    <p>{{ article.content |truncatechars:100 }}</p>
                    <span><a href="">Read the article</a></span>
                    <div>
                        <small>written by {{ article.author|title }} on
                        {{ article.date_created|date:"M/d/y" }}</small>
                        <div>
                            {% if article.author|lower == username|lower %}
                                <a href="update-article/{{ article.id }}">Edit article</a>
                                <a href="delete-article/{{ article.id }}">Delete article</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
