asgiref==3.8.1
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.0.4
filelock==3.13.4
idna==3.6
mutagen==1.47.0
platformdirs==4.2.1
psycopg2==2.9.9
pycryptodomex==3.20.0
requests==2.31.0
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.0
websockets==12.0
yt-dlp==2024.3.10
