<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
    <main class="bg-primary d-flex h-full justify-content-center align-items-center" style="height:100vh">

        <div class="container d-flex justify-content-center align-items-center flex-column position-relative p-2 bg-info rounded">
            Delete ?
            <form action method='POST'>
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a href="{%  url 'home' %}" class="btn btn-secondary position-absolute top-0 start-0">Home</a>
        </div>
    </main>
    </body>
</html>