{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="m-3">
    <a href="{% url 'home' %}" class="btn btn-primary text-decoration-none p-2 mt-3">Go back</a>
    <h2 class="text-">Task: {{ task.title }}</h2>
    <h2>
        Status:
        {% if task.status %}
            <span class="text-success">Done</span>
        {% else %}
            <span class="text-danger">Not Done</span>
        {% endif %}
    <h3>Task created on {{ task.date_created }}</h3>
</div>
{% endblock content %}
